<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <h2>CANDIDATES LIST FOR : {{ jobTitle }}</h2>
  <mat-accordion multi="True" *ngIf="candidates.length > 0 ">
    <mat-expansion-panel *ngFor="let candidat of candidates">
      <mat-expansion-panel-header>
        Candidate's Email :
        {{ candidat.email }}
      </mat-expansion-panel-header>
      <div>
        <b>
          Fullname :
        </b>
        {{ candidat.fullname }}
      </div>
      <div>
        <b>
          Cin number :
        </b>
        {{ candidat.cin }}
      </div>
      <div>
        <b>
          Age :
        </b>
        {{candidat.age}}
      </div>
      <!-- <div>
  {{ candidat.resumePath}}
</div> -->
      <mat-action-row>
        <a mat-button color="primary">PLAN INTERVIEW</a>
        <button mat-button color="warn" (click)="onDelete(candidat.id)">REJECT</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <mat-paginator
[length]="totalPosts"
[pageSize]="postsPerPage"
[pageSizeOptions]="pageSize"
(page)="onChangedPage($event)"
*ngIf ="posts.length > 0">
</mat-paginator> -->
  <p class="info mat-body-2" *ngIf="candidates.length == 0 && !isLoading"> No posts added Yet !</p>
</div>