<mat-card>
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
  <h2>JOB OFFER CREATION </h2>
  <form [formGroup]="form" (submit)="onSavepost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="text"
      formControlName="jobtitle"
      placeholder="Job Title">
    </mat-form-field>
    <mat-form-field>
    <div>
      <input
      matInput
      type="text"
      formControlName="description"
      placeholder="Desciption">
     </div>
     </mat-form-field>
    <mat-form-field>
      <input
      matInput
      rows="4"
      formControlName="skills"
      placeholder="Skills">
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="text"
      formControlName="exp"
      placeholder="Experience">
    </mat-form-field>
    <button
    mat-raised-button
    color= "primary"
    type="submit">Save Post</button>

  </form>
</mat-card>