:host {
  display: block;
  margin-top : 1rem;
}

mat-spinner{
  margin : auto;
}

.info{
  text-align: center;
}


.post-image {
  width: 100%;
}

.post-image img{
   width: 100%;
   box-shadow: 1px 1px 5px rgba(0, 5, 5, 0.5);
}

mat-paginator {
  margin-top: 1rem;
}

h2{
  text-align : center;
  font-weight:bold;
}
mat-expansion-panel-header {
  font-weight: bold;
  letter-spacing: 2px;
}

div {
  line-height: 200%;
  letter-spacing: 2px;
}

div.b {
  font-weight: bold;
}

.count{
  float: left !important;
  left: 10px !important;
  position: absolute !important;
  margin-top: 1%;
  margin-left: 1%;
}

